<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>

    <link
      href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,500&display=swap&subset=latin-ext,vietnamese"
      rel="stylesheet"
    />

    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Satisfy&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-color">
      <a class="navbar-brand" href="#">IJ's Blog</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#home">Home </a>
          <a class="nav-item nav-link" href="#about">About</a>
          <a class="nav-item nav-link" href="#contact">Contact</a>
        </div>
      </div>
    </nav>

    <div class="pimg1">
      <div class="ptext" id="home">
        <!-- <span class="border trans">  -->
        <p>
          "Do the one thing you think you cannot do.
        </p>
        <p>Fail at it. Try again. Do better the second</p>

        <p>
          time." The only people who never
        </p>
        <p>tumble are those who never</p>
        <p>
          mount the high wire. This is your moment .Own it"
        </p>
        <!-- </span>  -->

        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">
            &quot;Never give up of what you are doing&quot;, if you find
            interest to learn more things,continue learning :)
          </p>
          &mdash; Ijelyn (@Ijelyn2)
          <a
            href="https://twitter.com/Ijelyn2/status/1147963934684700672?ref_src=twsrc%5Etfw"
            >July 7, 2019</a
          >
        </blockquote>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>

    <section class="section section-light">
      <!-- <p><a name="Home"> </a></p> -->
    </section>
    <p>A simple mom that wants to have a succesful carrier in life.</p>
    <p>
      Who loves to bake cakes and breads and now i found my passion and interest
      to learn more the fundamentals of Programming and Applications.
    </p>
    <div class="pimg2" id="about">
      <img src="./images/fpic.jpg" alt="Profile" class="center" />
    </div>
    <section class="section section">
      <div class="container">
        <div class="row">
          <!-- <p> <a name="Projects"> -->

          <!-- </p> -->
        </div>
      </div>
    </section>
    <div class="pimg3">
      <div class="ptext">
        <!-- <span class="border trans">
                Contact
            </span> -->
      </div>
    </div>

    <section class="section section-light">
      <div class="container">
        <!-- <h1 class="brand"><span>Contact form</span></h1> -->
        <div class="wrapper">
          <div class="company-info" id="contact">
            <h3>Contact me</h3>
            <ul>
              <li>Adress</li>
              <li>(47)</li>
              <li>ijelynsaele@gmail.com</li>
            </ul>
          </div>
          <div class="contact">
            <h3>Email me</h3>
            <form>
              <p>
                <label>Name</label>
                <input type="text" name="name" />
              </p>
              <p>
                <label>Company</label>
                <input type="text" name="company" />
              </p>
              <p>
                <label>Email Address</label>
                <input type="email" name="email" />
              </p>
              <p>
                <label>Phone Number</label>
                <input type="email" name="phone" />
              </p>
              <p class="input">
                <label>Message</label>
                <textarea name="message" rows="5"></textarea>
              </p>
              <p class="input">
                <button>Submit</button>
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="https://www.facebook.com/ijelynpearl.danila"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ijelyn-saele-a1a20387/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/Ijelyn2"><i class="fa fa-twitter" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
      <footer>
        <p class="end">@IjelynSaele 2019</p>
      </footer>
    </section>

    <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </body>
</html>
