body {
  background: skyblue;
}

body,
html {
  height: 100%;
  margin: 0px;
  font-size: 20px;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #444;
}

/*links*/
ul {
  overflow: auto;
}
ul li {
  list-style-type: none;
  float: right;
}
ul li a i {
  background: #282e34;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
  transition: all 0.2s ease-in-out;
}

.fa-facebook {
  background: skyblue;
}
.fa-linkedin {
  background: skyblue;
}
.fa-twitter {
  background: skyblue;
}
ul li a i:hover {
  opacity: 0.7;
}
.links {
  text-align: justify;
}
/* navbar*/
.sidebar {
  /* height: 80%; */
  height: 0;
  /* position: fixed; */
  z-index: 2;
  top: 60px;
  /* left: 0; */
  /* background-color: #719d8b; */
  /* overflow-x: hidden; */
  transition: 0.5s;
  padding-top: 45px;
  position: relative;
  margin: 0px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: skyblue;
  color: white;

  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
/*home*/
p {
  font-size: 130%;
  color: black;
  justify-content: center;
}
/*about*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
/* verion*/
@media screen and (max-height: 430px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*settings of the pictures parallax content*/
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7; /*faded COLOR
  background-position: center;
  background-size: cover; /*entire site*/
  /* background-repeat: no-repeat; /*images not to repeat*/

  background-attachment: fixed;

  /* fixed = parallax
  scroll = normal */
}

.myname .web p {
  color: white;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Satisfy", cursive;
}
.pimg1 {
  background-image: url("../images/city.jpeg");
  min-height: 300%;
}
.pimg2 {
  background-image: url("/public/images/city.jpeg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("/public/images/city.jpeg");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  background-color: skyblue;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.ptext .border .trans {
  background-color: transparent;
}
@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}
.end {
  font-size: 18px;
}
body {
  font-family: "Lato", sans-serif;
}

.Projects {
  border-inline: block;
}
.center {
  width: 50%;
}
/*contact form*/

/* body {
                    background: rgb(110, 0, 59, 36);
                    /* #92bde7;*/
/* color: rgb(100, 0, 20, 10)
                        #485e74;*/
/* line-height: 1.6;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    padding: 1em; */
.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.brand span {
  color: black;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(9, 45, 116, 0.7);
}

.wrapper {
  padding: 1em;
}

.company-info {
  background: skyblue;
}

.company-info h3,
.company-info ul {
  /*to center this sentence*/
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: skyblue;
}

/*form style*/
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .input {
  grid-column: 1 / 3;
  /*grid will strecht out 1-3*/
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid skyblue;
  /*to have 1oo% width for all of this class*/
}

.contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/*big screen*/
@media (max-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
    /*to set padding to big screen*/
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}
